---
type ContainerProps = {
  class?: string;
}

const { class: cls = '' } = Astro.props as ContainerProps;
---

<div class={`mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8 ${cls}`}>
  <slot />
</div>
